.lists-body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.lists-btn-container {
    background: rgb(135,68,255);
    padding: 2rem;
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    
}
.lists-btn {
    display: flex;
    margin: 0 2rem;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: black;
    width: 250px;
    background-color: transparent;
    border: none;
    color: white;
}
.lists-btn img{
    width: 50px;
    height: 50px;
    margin: 0 1rem;
}
.lists-main {
    background: rgba(252,206,255,1);
}
.lists-title {
    flex: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: black;
}
.lists-container {
    flex: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.list-card {
    background-color: white;
    width: 300px;
    height: 100px;
    margin: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;

}